$day1header_max_width: 700px;
$text_height: 100vh;
$chart_width: ($day1header_max_width / 2) - 25px;
$chart_height: $chart_width;
$undervalued_color:$trib-blue2;
$overvalued_color:$trib-red2;

#day1-header-display{
	@include clearfix();
	width:100%;
	max-width: $day1header_max_width;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:25px;
	min-height:calc(100vh - 51px);
	
	background:$header-bg-color;
	position:relative;
    border-bottom: 45px solid $header-bg-color;// Yes, this is a hack, but padding would affect the map placement.
}

.header-chart{
	width:100%;
	height: 50vh;
	opacity:0;
	transition: opacity 400ms ease;
	
	position:absolute;
	top:auto;
	bottom:0;	
	left: calc(50% + 25px);;
	// right:auto;	

	&.header-chart--visible{
		opacity:1;
		transition: opacity 400ms ease;
	}
}

.map-wrapper{
	max-width: $map-width;
	position:absolute;
	top:auto;
	bottom:0;	
	left:0;	
	width: 100%;
	opacity:0; 
	transition: opacity 700ms ease;

	&.map-wrapper--visible{
		opacity:1; 
		transition: opacity 700ms ease;
	}
}



#map{
	width: 100%;
	height:0;
	padding-bottom:115%;
	// background:#eee;
}

.text{
	// Each "text" is a single piece of scrolling text. It's height creates the scrolling.
	border: 1px solid black;
	height:$text_height;
	opacity:0; 
	transition: opacity 200ms ease;
	
	&.text--visible{ 
	opacity:1; 
	transition: opacity 700ms ease;
	}

	&__blurb{
		// The actual text within each thought. Each blurb that appears/disappears
		@include serif-text(15px, 1.4em, normal);
		@include display_type('serif');
		margin:0;
		z-index: 100;
			// Make sure the bold is bold enough in the display font.
	    strong{
	    	display: inline-block;
	    	font-weight: 700;
	    	&.undervalued{
	    		color:$undervalued_color;
	    	}
	    	&.overvalued{
	    		color:$overvalued_color;
	    	}
	    }
	}
	
	&:last-child, &:first-child{
		height:150vh;
	}
}

body[data-fixed-map='true']{
	// When this data-* attribute is true, the story header will be fixed and fun. When it's not true, it will scroll away.
	.map-wrapper{
		position:fixed;
		top:$nav_height + 10px ;
		bottom:auto;
		transition: top 300ms ease;
	}

	.text__blurb{
		// Try to keep these pinned to the bottom of the map on mobile
		position:fixed;
	    top: 75%;
	    padding: 10px;

	}

	.header-chart{ }
}

@media all and (min-width:#{$map-width}){
	// When the screen is wider than the map.
	#map{
		width: $map-width; 
		height: $map-width * 1.15;
		max-height: calc(100vh - #{$nav_height} - 15px);// Give it a little space below
		// max-height: 100px;
		// background:yellow;
		overflow: hidden;
		padding:0;
	}
	
	.text__blurb{
		font-size:23px;
	    max-width: 250px;
	    padding: 0;
	}



	body[data-fixed-map='true']{
		// When the map is sticky
		.map-wrapper{
			position:fixed;
			top:$nav_height + 10px ;
			bottom:auto;
			left:auto;
			right: calc(50% - #{$day1header_max_width / 2});
			margin-left: 0;
		}

		.header-chart{
			width:$chart_width;
			height: $chart_height;
			// opacity:0;
			transition: opacity 400ms ease;
			position:fixed;
			top:calc(50% - #{$chart_height / 2});
			left:calc(50% + 25px);
		}

		.text__blurb{
			// Try to keep these pinned to the bottom of the map on mobile
			top:235px;
			left:calc(50% - #{$day1header_max_width / 2});
			max-width: $day1header_max_width / 2;
		}
		#blurb120, #blurb110,#blurb100{
			// These two blurbs need a little nudge up
			.text__blurb{
				top:150px;
			}
		}

		.text--full{
			.text__blurb{
				max-width: $day1header_max_width - 20px;
				text-align:center;
			}
		}
	}

}

@media all and (min-width: $desktop-min-width){
	// 850px+

	.text__blurb{
		// Display size bump
		font-size:27px;
		// Give the text more room to breathe
		// max-width: 320px;

	}
}
	