$modal-hide-depth: 2000px;
$modal-transition-speed: 250ms;

// modal modal--active

.modal{
	
	&--active{
		// The active state
		
		.modal__positioning{
			transform:translate(0,0);
			transition: all $modal-transition-speed ease;
		}

		.modal__exit{
			display:block;
		}
	}

	&__exit{
		height: 100%;
		width: 100%;
		background:transparent;
		opacity:0;
		position: fixed;
		top:0;
		right:0;
		z-index:999;
		display:none;
	}

	&__positioning{
		position: fixed;
		bottom: 0 ;
		left: 0;
	    width: 100%;
		z-index:1000;
		transform:translate(0,$modal-hide-depth);
		transition: all $modal-transition-speed ease;
		border-radius: 5px;
	}


	&__inner{
		background-color: $trib_blue4;
		padding:15px;
		max-width: 480px;
		margin: 0 auto;
	}



	#term{
		@include label7();
	}

	#definition{
		@include sans-serif-text(14px, 1.5em, normal);
		margin:0;
	}


}


#exit-button {
	text-align: right;
	font-weight: bold;
	color: black;
	cursor: pointer;
}

.append-here {
	text-align: center;
}
#append-here p {
	color: white;
}
.target-term {
	display:inline-block;
	background-color: rgba($trib_blue4, .15);
	padding: 0 2px 0 3px;
	cursor: pointer;
	border: 1px solid transparent;
	transition:all 200ms ease;

	&:hover, &:focus{
		transition:all 200ms ease;
		border-color: $trib-blue2;
	}

	&:before{
		content:'\f02d';
		font-family: 'FontAwesome';
		color: $trib-blue2;
		font-size: 0.7em;
	}
}

@media all and (min-width: $tablet-min-width){
	.modal{
		bottom:25px;
	}
}