$modal-hide-depth: 2000px;
$modal-transition-speed: 250ms;

// modal modal--active

.modal{
	position: fixed;
	bottom: 25px;
	left: 0;
    width: 100%;
	z-index:10000000;
	transform:translate(0,$modal-hide-depth);
	transition: all $modal-transition-speed ease;
	border-radius: 5px;


	&--active{
		transform:translate(0,0);
		transition: all $modal-transition-speed ease;
	}


	&__inner{
		background-color: $trib_blue4;
		padding:15px;
		max-width: 480px;
		margin: 0 auto;
	}

	#term{
		@include label7();
	}

	#definition{
		@include sans-serif-text(14px, 1.5em, normal);
		margin:0;
	}

	// &.active {
	// 	background-color: $trib_blue4;
	// 	width: 40%;
	// 	height: auto;
	// 	border-radius: 25px;
	// 	padding: 8px;
	// }
	// &.hide-this {
	// 	background-color: $trib_blue4;
	// 	width: 40%;
	// 	height: auto;
	// 	border-radius: 25px;
	// 	padding: 8px;
	// 	z-index: 10000000;
	// 	position: fixed;
	// 	bottom: -5%;
	// 	left: 30%;
	// }
	// &.inactive {
	// 	display: none;
	// }

}


#exit-button {
	text-align: right;
	font-weight: bold;
	color: black;
	cursor: pointer;
}

.append-here {
	text-align: center;
}
#append-here p {
	color: white;
}
.target-term {
	display:inline-block;
	background-color: rgba($trib_blue4, .15);
	padding: 0 2px 0 3px;
	cursor: pointer;
	border: 1px solid transparent;
	transition:all 200ms ease;

	&:hover, &:focus{
		transition:all 200ms ease;
		border-color: $trib-blue2;
	}

	&:before{
		content:'\f02d';
		font-family: 'FontAwesome';
		color: $trib-blue2;
		font-size: 0.7em;
	}
}