$chart-margin:25px;
.chart{
	margin-top:$chart-margin;
	margin-bottom:$chart-margin;
	position:relative;	
}

.chart__spinner{
	position:absolute;
	top:50%;
	left:50%;
	margin: -10px 0 0 -10px;
}

.image{
	@include trib-image();
}





@media all and (min-width: $tablet-min-width){
	.chart--force-right{
		width: 280px;
		float: right;
		margin: $chart-margin 0 $chart-margin $chart-margin;
	}

	.image--force-right{
		max-width: 350px;
		float: right;
		margin: $chart-margin 0 $chart-margin $chart-margin;

	}

}


@media all and (min-width: $desktop-min-width){

}