.story-header{
	background: url(http://fillmurray.com/1000/1000) center center no-repeat;
	background-size:cover;
	
	// height: 100vh;
	// height: calc(100vh - #{$nav_height});
	// min-height: 500px;

	margin-bottom:25px;
	display:flex;
	flex-wrap:wrap;
	align-content:center;
	align-items:center;
	padding:0 25px;

	&__headline{
		@include serif-text(60px, 1.5em);
		@include display_type('serif');
		@include text_stroke(white, black, 2px, .3, 7px);
		width:100%;
		// color:white;
	}

	&__subheadline{
		@include serif-text(30px, 1.5em);
		@include display_type('serif');
		@include text_stroke(white, black, 2px, .3, 7px);
		width:100%;
		// color:white;
	}
	&__scrolling-icon{ display:none; }
}

@media all and (min-width: $tablet-min-width){
	
	.story-header{
		background: url(http://fillmurray.com/1000/1000) center center no-repeat;
		background-size:cover;
		
		height: 100vh;
		height: calc(100vh - #{$nav_height});
	}

	.story-header__scrolling-icon{
		@include bounce(2s);
		display:block;
		color:white;
		position:absolute;
		left:50%;
		top: 90vh;
	}
}


@media all and (min-width: $desktop-min-width){
	#day1-header, .story-header {
		.social-menu{
			// Give the overall social shares a little different look on desktop. 
			// These styles are extensions of the standard social shares, as seen 
			// in pullquotes
			max-width: 40px;
			justify-content: center;
			position: absolute;
		    top: 100%;
		    right: 50%;
		    right: calc(50% + 345px);
	        z-index: 1000;
			
			li{
				// display: flex;
				// justify-content: center;
				// align-items: center;
				cursor:pointer;
				
				margin-right: 0;
				margin-bottom: 15px;
				width: 100%;
				// height:40px;

				i{
					opacity:.8
					&:hover, &:focus{
						opacity:1;
					}
				}
			}
		}
	}
}
