.story-header{
	// border-top: 4px solid $trib-blue2;
	
	&__project-title{
		position: absolute;
		top:0;
		left:0;
		z-index: 1000;
		width: 100%;
		text-align: center;
		p{
			@include sans-serif-text(12pt, 1em)
			background: rgba(white, .85);
			margin: 0 auto 10px auto;
			text-transform: uppercase;
			padding: 3px 10px;
			display:inline;
		}	
	}

	&__title{
		font-family:"Arial", sans-serif;
		text-transform: uppercase;
		font-size:16px;
		color:$trib-blue4;
	}

	&__display{
		// background: url(http://fillmurray.com/1000/1000) center center no-repeat;
		background-size:cover;	
		margin-bottom:25px;
		box-shadow: 0 -2px 5px rgba(black, .25);
		display:flex;
		flex-wrap:wrap;
		align-content:center;
		align-items:center;
		padding:25px;
		position:relative;
		overflow:hidden;
	}
	&__caption{
		@include agate();
		color:white;
		position: absolute;
		bottom:0;
		right:0;
		z-index: 1000;
		padding: 0 10px 10px 0;
		margin:0;
		max-width: 200px;
		text-align: right; 
	}
	&__video{
		// position: absolute;
		// top:0;
		// left:0;
		// width:100%;
		// height:100%;
		display:none;
	}
	
	&__video-controls{
		display:none;
		z-index: 1000;
	}

	&__video-texture{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black url(../img/video-texture.svg);
		background-size: 3px;
		opacity: .25;
	}

	&__headline{
		@include serif-text(60px, 0.9em);
		@include display_type('serif');
		@include text_stroke(white, black, 2px, .3, 7px);
		width:100%;
		z-index: 1000;
		// color:white;
	}

	&__subheadline{
		@include serif-text(25px, 1.5em);
		@include display_type('serif');
		@include text_stroke(white, black, 2px, .3, 7px);
		width:100%;
		z-index: 1000;
		// color:white;
	}
	&__scrolling-icon{ display:none; }

	.social-menu{
		// This will stick the social buttons across the whitespace from the byline on mobile.
		// position:absolute;
		// top: 0;
		// right: 30px;
		// justify-content:flex-end;
		margin: 15px 0;	
	}


}


// These tweaks remove the video header from the sidebars and modify the design
.story-header {
	&--methods, &--assessor_response, &--appeals_methods{
		padding: 40px 25px 0 25px;
		background-color: rgba($trib-blue2, .15);
		background-image: url(../img/grid_background.svg);
		background-size: 8px;
		margin-bottom: 25px;

		.story-header__scrolling-icon{ display:none; }

		.story-header__headline{
			@include text_stroke(black, black, 2px, .07, 5px);

		}
		.story-header__subheadline{
			@include text_stroke(black, black, 2px, .07, 5px);
		}
		.byline{
			padding-top: 0;
			border-top: none;

			&-name{
				color:black;
			}
		}
		

		.byline-publish-date{
			color:black;
		}
	}
}

@media all and (min-width: $tablet-min-width){
	
	.story-header{
		&__display{
			// height: 100vh;
			// height: calc(100vh - #{$nav_height} - #{$ad_leaderboard_height});
		}
		&__headline{
			font-size:70px;
		}

		&__subheadline{
			// font-size:70px;
		}
	}


}


@media all and (min-width: $desktop-min-width){

	.video-controls{
		// padding: 15px;
		.video-control{
			display:none;
			border:none;
			padding: 5px;
			background: rgba(white, .3);
			margin: 5px;
			border-radius: 3px;
			transition: background 200ms;
			cursor:pointer;

			&:hover, &:focus{
				background: rgba(white, .9);
				transition: background 200ms;
			}
			
			&--visible{
				display:block;
			}

			&--pause{}
			
			&--play{}
		}
	}
	.story-header {

		&__display{
			// NOTE: Since we're dealing with video, it would seem easier to have a known height, sted the variable VH height.
			height: 500px;
		}
		&__headline{
			font-size:80px;
		}

		&__subheadline{
			font-size:30px;
		}
		
		&__video{
			display:block;
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}

		&__video-controls{
			// display:block;
			position: absolute;
			top: 0;
			right: 0;
			display:block;
		}

		.story-header__scrolling-icon{
			@include bounce(2s);
			z-index:1000;
			display:block;
			color:white;
			position:absolute;
			left:calc(50% - 100px);
			width:200px;
		// top: 99vh;
		// top: calc(99vh - #{$nav_height)};
		text-align: center;
		bottom:25px;
		span{
			@include agate();
			font-weight:bold;
			color:white;
			display:block;
		}
	}
	
	.social-menu{
			// Give the overall social shares a little different look on desktop. 
			// These styles are extensions of the standard social shares, as seen 
			// in pullquotes
			max-width: 40px;
			justify-content: center;
			position: absolute;
			top: 100%;
			right: 50%;
			right: calc(50% + 345px);
			z-index: 900;
			justify-content:flex-start;
			
			li{
				// display: flex;
				// justify-content: center;
				// align-items: center;
				cursor:pointer;
				
				margin-right: 0;
				margin-bottom: 15px;
				width: 100%;
				// height:40px;

				i{
					opacity:.8
					&:hover, &:focus{
						opacity:1;
					}
				}
			}
		}
	}

		// These tweaks remove the video header from the sidebars and modify the design
	.story-header {
		&--methods, &--assessor_response, &--appeals_methods{
			.story-header__headline {
			    font-size: 70px;
				max-width: 500px;
				margin: 0 auto 10px auto;
			}

			.story-header__subheadline {
				font-size: 23px;
			}
		}
	}
}
