// Bootstrap-sass documentation https://github.com/twbs/bootstrap-sass#d-npm--nodejs
// ::Sass::Script::Value::Number.precision = [8, ::Sass::Script::Value::Number.precision].max



// Enables for Tribune colors, but is required for everything.
@import 'base-variables';
@import 'bootstrap_custom_variables';
// Breakpoints
$tablet-min-width:450px;
$desktop-min-width:850px;

$nav_height: 51px;
$narrow-river-max-width: 650px;
$map-width: 600px;

$header-bg-color:$trib-gray4;


// ---- ADD MORE VARIABLES HERE ---------------------------------------------

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';
// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@import 'property-tax-mixins';

// ---- BRING IN THE BOOTSTRAP ---------------------------------------------


@import 'bootstrap_custom';

// ---- TRIB CLASSES, UNCOMMENT THE ONES YOU WANT ---------------------------------------------
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'typography';
@import 'nav';
@import 'pullquote';
@import 'story-header';
@import 'social-menu';
@import 'credits';
@import 'graphic-embed';
@import 'day1_header';

// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------

.byline{
	@include river_narrow();
	margin-bottom:25px;
}
.byline-name{
	@include serif-text(18px, 1.3em, normal);
	margin:0;
}
.byline-publisher{
	@include sans-serif();
	margin: 0 0 15px 0;
}
.byline-publish-date{
	@include agate();
	text-transform: uppercase;
	display:block;
	margin:0;
}

.river--narrow{
	@include river_narrow();
}

.video{
	@include responsive_embed(16, 9, 0);
	margin:0 0 25px 0;
	object{
		position: absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
	}
}

@media all and (min-width: $tablet-min-width){

}

@media all and (min-width:#{$map-width}){
	// #map{
	// 	width: $map-width;
	// }
}

@media all and (min-width: $desktop-min-width){
	
}