// Bootstrap-sass documentation https://github.com/twbs/bootstrap-sass#d-npm--nodejs
// ::Sass::Script::Value::Number.precision = [8, ::Sass::Script::Value::Number.precision].max



// Enables for Tribune colors, but is required for everything.
@import 'base-variables';
@import 'bootstrap_custom_variables';
// Breakpoints
$tablet-min-width:450px;
$desktop-min-width:850px;

$nav_height: 51px;
$narrow-river-max-width: 650px;
$map-width: 600px;



// ---- ADD MORE VARIABLES HERE ---------------------------------------------

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';
// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------

@import 'property-tax-mixins';

// ---- BRING IN THE BOOTSTRAP ---------------------------------------------


@import 'bootstrap_custom';

// ---- TRIB CLASSES, UNCOMMENT THE ONES YOU WANT ---------------------------------------------
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'typography';
@import 'nav';
@import 'pullquote';
@import 'story-header';
@import 'social-menu';
@import 'credits';
@import 'graphic-embed';

// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------

#day1-header{
	@include clearfix();
	width:100%;
	min-height:calc(100vh - 51px);
	background:#eee;
	position:relative;
	margin-bottom:25px;
}

.map-wrapper{
	max-width: $map-width;
	position:absolute;
	top:auto;
	bottom:0;		
	left:50%;
	margin-left: 0 - $map-width;
	transition: top 300ms ease;


	// &--fixed{
	// 	position:fixed;
	// 	top:$nav_height + 10px ;
	// 	bottom:auto;
	// 	transition: top 300ms ease;
	// }
}

#map{
	max-width: 100%;
	height:0;
	padding-bottom:115%;
	// background:#eee;
}

.text-column{
	display:none;
	max-width:320px;
	margin-left: calc(50% + 25px);

}

.text{
	// border:1px solid black;
	height:100vh;
	opacity:0; 
	transition: opacity 200ms ease;

	&__blurb{
		@include serif-text(30px, 1.4em, normal);
		@include display_type('serif');
		margin:0;
		max-width:320px;
	}
	
	&:last-child{
		height:150vh;
	}
}
.text--visible{ 
	opacity:1; 
	transition: opacity 700ms ease;
}

// SVG stuff
.tract{
	fill:white;
	&.tract--highlight{
		&.tract--over{ fill:$trib-red2; }
		&.tract--under{ fill:$trib-blue2; }
		&.tract--equal{ fill:black; }
		&.tract--none{}
	}
}

body[data-fixed-map='true']{
	// When this data-* attribute is true, the story header will be fixed and fun. When it's not true, it will scroll away.
	.map-wrapper{
		position:fixed;
		top:$nav_height + 10px ;
		bottom:auto;
		transition: top 300ms ease;
	}

	.text__blurb{
		position:fixed;
		top:15vh;
	}
}

// Basic scaffolding for the story
.river--narrow{
	max-width: $narrow-river-max-width;
	margin: 0 auto;
	// background: #f0f0f0;
	// padding: 0 20px;
}

@media all and (min-width: $tablet-min-width){

}

@media all and (min-width:#{$map-width}){
	#map{

		width: $map-width;
	}
}

@media all and (min-width: $desktop-min-width){
	
}