{% from '_tax-base.html' import keep_scrolling_icon as keep_scrolling_icon %}

<section id='day1-header'>
	<div class='day1-header-background'>
	<div id='day1-header-display' class='day1-header-display'>
	{# 	<div class='map-wrapper map-wrapper--visible'>
			<div id='map'></div>
		</div>

		<div id='income' class='header-chart'></div>
		<div id='race' class='header-chart'></div>

		<div class='text-column'>
			{%- for blurb in day1_header_blurbs|sort(attribute='order') if blurb.publish == 1  -%}
				{% if blurb.tract_highlight %}
				{% set highlight = "data-tract-highlight=" ~ blurb.tract_highlight  %}
				{% else  %}
				{% set highlight = "" %}
				{% endif %}
				
				{# This var will hold any classes specific to this item, set in the spreadsheet #}
				{# {% set classes_to_add = "" %} 
				{% if blurb.width %}
					{% set classes_to_add = classes_to_add + "text--" + blurb.width + " " %}
				{% endif %}

				{% if loop.last %}
					{% set classes_to_add = classes_to_add + "text--last" %}
				{% endif %}
		
				<div id='blurb{{ blurb.order }}' class='text {{ classes_to_add }}'>
					<span class='blurb__id'>(#blurb{{ blurb.order }})</span>
					<div class='text__blurb-wrapper'>
						<p class='text__blurb'>{{ blurb.blurb|process_text }}</p>
					</div>
				</div>
			{%- endfor -%}
		</div> #}

		<div class='map-wrapper map-wrapper--visible'>
			<div id='map'></div>
		</div>
		<div id='income' class='header-chart'></div>
		<div id='race' class='header-chart'></div>

		<!-- Slider main container -->
		<div class="swiper-container">
			{# {{ keep_scrolling_icon() }} #}
		    <!-- Additional required wrapper -->
		    <div class="swiper-wrapper">
		        <!-- Slides -->
				<div id='blurb0' class='swiper-slide text'>
						<div class='swiper-slide__inner'>
							<i class="fa fa-2x fa-arrow-up" aria-hidden="true"></i>
							<p class='text__blurb'>Click, tap, swipe or scroll to advance</p>
							<i class="fa fa-2x fa-arrow-down" aria-hidden="true"></i>
						</div>
					</div>
    			{%- for blurb in day1_header_blurbs|sort(attribute='order') if blurb.publish == 1  -%}
					{% set classes_to_add = "" %} 
					{% if blurb.width %}
						{% set classes_to_add = classes_to_add + "swiper-slide--" + blurb.width + " " %}
					{% endif %}
					<div id='blurb{{ blurb.order }}' class='swiper-slide {{ classes_to_add }} text'>
						<div class='swiper-slide__inner'>
							<span class='blurb__id' style="display:block;width:100%;">(#blurb{{ blurb.order }})</span>
							<p class='text__blurb'>{{ blurb.blurb|process_text }}</p>
						</div>
					</div>
				{%- endfor -%}
		    </div>

		    {# <!-- If we need pagination --> #}
		    <div class="swiper-pagination"></div>
		    
		    {# <!-- If we need navigation buttons --> #}
		    <div class="swiper-button swiper-button--prev"></div>
		    <div class="swiper-button swiper-button--next"></div>
		    
		    {# <!-- If we need scrollbar --> #}
		    {# <div class="swiper-scrollbar"></div> #}

		</div>
	</div>
	</div>
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12'>
				{% include '_subtemplates/_social-row.html' %}
				<h1 class='main-headline'>{{ part1_headline|process_text() }}</h1>
				<h2 class='main-subheadline'>{{ part1_dek|process_text() }}</h2>				
				<div class='byline'>
					<p class='byline-name'><a itemprop="author" href="mailto:jgrotto@chicagotribune.com?subject=Regarding: {{ overall_project_title }}">Jason Grotto</a></p>
					<p class='byline-publisher'  itemprop='publisher'>Chicago Tribune</p>
					<time class='byline-publish-date' itemprop="datePublished">Published: {{ publish_date|xldate_to_datetime }}</time>
				</div>
			</div>
		</div>
	</div>
</section>





