{% from '_tax-base.html' import keep_scrolling_icon as keep_scrolling_icon %}

<section id='day1-header'>
	<div id='day1-header-display'>
		<div class='map-wrapper map-wrapper--visible'>
			<div id='map'></div>
		</div>

		<div id='income' class='header-chart'></div>
		<div id='race' class='header-chart'></div>

		<div class='text-column'>
			{%- for blurb in day1_header_blurbs|sort(attribute='order') if blurb.publish == 1  -%}
				{% if blurb.tract_highlight %}
				{% set highlight = "data-tract-highlight=" ~ blurb.tract_highlight  %}
				{% else  %}
				{% set highlight = "" %}
				{% endif %}
				
				{# This var will hold any classes specific to this item, set in the spreadsheet #}
				{% set classes_to_add = "" %}
				{% if blurb.width %}
					{# If a different text width is desired, this is the class #}
					{% set classes_to_add = classes_to_add + "text--" + blurb.width + " " %}
				{% endif %}

				{% if loop.last %}
					{% set classes_to_add = classes_to_add + "text--last" %}
				{% endif %}
		
				<div id='blurb{{ blurb.order }}' class='text {{ classes_to_add }}'>
					(#blurb{{ blurb.order }})
					<div class='text__blurb-wrapper'>
						<p class='text__blurb'>{{ blurb.blurb|process_text }}</p>
					</div>
				</div>
			{%- endfor -%}
		</div>

		{{ keep_scrolling_icon() }}
	</div>
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12'>
				{% include '_subtemplates/_social-row.html' %}
				<h1>{{ part1_headline|process_text() }}</h1>
				<h2>{{ part1_dek|process_text() }}</h2>				
				<div class='byline'>
					<p class='byline-name'><a itemprop="author" href="mailto:jgrotto@chicagotribune.com?subject=Regarding: {{ overall_project_title }}">Jason Grotto</a></p>
					<p class='byline-publisher'  itemprop='publisher'>Chicago Tribune</p>
					<time class='byline-publish-date' itemprop="datePublished">Published: {{ publish_date|xldate_to_datetime }}</time>
				</div>
			</div>
		</div>
	</div>
</section>





