{% extends "_base.html" %}

{% macro add_photo(url, add_class, caption, alt) %}

  <figure class='image {{ add_class }}'>
    <img src='{{ url }}' alt='{{ alt }}'/>
    <figcaption> {{ caption }}</figcaption>
</figure>
{% endmacro %}

{% macro ad(type, alignment) %}
    {# returns an advert <div> with the proper alignment classes and data-* attributes to make it fit within this project. #}
    {% if alignment %}
        {% set class = "advert--" + alignment%}
    {% endif %}

    {% if type == "cube" %}
        <div class="advert {{ class }}" data-ad-type="shrinky-cube"></div>
    {% elif type == "leaderboard" %}
        <div class="advert" data-ad-type="leaderboard"></div>
    {% endif %}
{% endmacro %}

{% macro keep_scrolling_icon() %}
  <div class='story-header__scrolling-icon'>
    <span>{{ scrolling_icon_text }}</span>
    <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
  </div>

{% endmacro %}

{% macro pullquote(quote_text, quote_attribution, quote_attribution_secondary) %}
    
  {% set page_url = "http://" + ROOT_URL + "/" + PATH %}
  {# {% set page_url = '#' %} #}
    <figure class="trib-pullquote">
        <ul class="social-menu">
            <li>
                <a target="_blank" href="https://twitter.com/share?url={{ page_url }}&text={{ quote_text|urlencode }}">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                    <span class="hidden">Twitter</span>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ page_url }}&t={{ quote_text|urlencode }}">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    <span class="hidden">Facebook</span>
                </a>
            </li>
        </ul>
        <blockquote>{{ quote_text }}</blockquote>
        {% if quote_attribution %}
            <figcaption>
                {{ quote_attribution|process_text() }}
                {% if quote_attribution_secondary|process_text() %}<span>{{ quote_attribution_secondary|process_text() }}</span>{% endif %}
            </figcaption>
        {% endif %}
    </figure>
    
{% endmacro %}

{% macro add_chart(id, addon_class, url) %}
    {% if addon_class %}
        {% set class = addon_class %}
    {% else %}
        {% set class = "" %}
    {% endif %}
    <div class='chart chart--{{ id }} {{ class }}'>      
        <div id='{{ id }}' class='graphic-embed' data-iframe-url='{{ url }}'></div>
{#          <div class='chart__spinner'>
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div> #}
    </div>
{% endmacro %}

{% macro add_video(id, link_base_url, addon_class="") %}

    {% if addon_class %}
        {% set class = addon_class %}
    {% else %}
        {% set class = "" %}
    {% endif %}
    {# Randomstring for an id. #}
    {% set id = id|generate_id %}
    {% set video_player_ref = link_base_url|get_video_ref %}
    
    <div class='video {{ class }}'>
        <object id='{{ id }}' class='BrightcoveExperience'>
          <param name='bgcolor' value='#FFFFFF' />
          <param name='wmode' value='transparent' />
          <param name='autoStart' value='false' />
          <param name='sectionName' value ='/news/watchdog' />
          <param name='contentItemType' value ='embed' />
          <param name='omnitureServer' value='' />
          <param name='omnitureAcct' value='' />
          {# <param name='width' value='500' /> #}
          {# <param name='height' value='300' /> #}
          <param name='playerID' value='3688749019001' />
          <param name='playerKey' value='AQ~~,AAADW0fLtgE~,MIfKkt0NgAvSglhcwVIGmENcE3304kfQ' />
          <param name='adServerURL' value='' />
          <param name='additionalAdTargetingParams' value='' />
          <param name='externalAds' value='true' />
          <param name='linkBaseURL' value='{{ link_base_url }}' />
          <param name='isVid' value='true' />
          <param name='isUI' value='true' />
          <param name='dynamicStreaming' value='true' />
          <param name='showNoContentMessage' value='true' />
          <param name='secureConnections' value='true' />
          <param name='secureHTMLConnections' value='true' />
          <param name='@videoPlayer' value='ref:{{ video_player_ref }}' />
        </object>
    </div>
{% endmacro %}

{% macro add_author(name, email) %}
  <a itemprop="author" {% if email %}href="mailto:{{- email -}}?subject=Regarding: {{ overall_project_title }}"{% endif %}>{{- name -}}</a>
{% endmacro%}

{% block nav scoped %}
  {% set part = part %}
  {% include '_nav.html' %}
{% endblock nav %}

{% block content %}
    {{ ad('leaderboard', false) }}
    {% block story_header scoped %}
      {% set part = part %}
      <section class='story-header story-header--{{ part }}'>
        <div class='story-header__display'>
          <h1 class='story-header__headline' itemprop="headline">
            {% block headline %}{% endblock headline %}
          </h1>
          <h2 class='story-header__subheadline'>
            {% block dek %}{% endblock dek %}
          </h2>
          <i class="fa fa-arrow-circle-down fa-2x story-header__scrolling-icon" aria-hidden="true"></i>
        </div>
        <div class='container'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='river--narrow'>
                {% include '_subtemplates/_social-row.html' %}
                <div class='byline'>
                  <p class='byline-name'>{% block byline %}{% endblock byline%}</p>
                  <p class='byline-publisher'  itemprop='publisher'>Chicago Tribune</p>
                  <time class='byline-publish-date' itemprop="datePublished">Published: {{ publish_date|xldate_to_datetime|format_date("%B %d, %Y") }}</time>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endblock story_header %}
    {% block story %}
        {# ################ #}
        {# Story content will go here #}
        {# ################ #}
    {% endblock story %}
    {% block credits scoped %}
      {% set part = part %}
      {% include '_subtemplates/_credits.html' %}      
    {% endblock credits %}
    {% include '_subtemplates/_solid-opinion-comments.html'%}
    {% block methods scoped %}
      {% set part = part %}
      {% include '_subtemplates/_methodologies.html' %}      
    {% endblock methods %}
    <div data-trb-thirdpartynav></div>
{% endblock content %}


{% block comments %}
      
  {% endblock comments %}


{% block library_css %}
    <link rel="stylesheet" type="text/css" href="css/base.css" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/6745e48e70.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock %}

{% block meta %}
    {{ super() }}
{% endblock meta %}



{% block scripts %}
    <script src="http://{{ ROOT_URL }}/js/app.min.js"></script>
    <script>brightcove.createExperiences();</script>
{% endblock scripts %}

{% block chartbeat %}
    {% include '_subtemplates/_chartbeat.html' %}
{% endblock %}

{% block omniture_scripts %}
    {{ super() }}
    <script src="http://www.chicagotribune.com/thirdpartyservice?disablenav=true" async></script>
{% endblock omniture_scripts %}


{% block omniture %}
{% endblock omniture %}

{% block library_scripts %}
  {% include '_subtemplates/_omniture_header_scripts.html' %}
  {# <script src="//media.apps.chicagotribune.com/bootstrap/v3.1.1/js/bootstrap.min.js"></script> #}
  {# <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script> #}
  {# <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script> #}

{# For the bootstrap. Can this be removed? #}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{# For the adverts #}
<script src="//media.apps.chicagotribune.com/ads/v2.1.4/ads.min.js" defer async></script>

{# For videos #}
<script language='JavaScript' type='text/javascript' src='https://sadmin.brightcove.com/js/BrightcoveExperiences.js' defer async></script>

{# For comments #}
{# Removed on recommendation from Andrew Baltazar. #}
{# <script type="text/javascript" src="//ssor.tribdss.com/reg/tribune/chinews-static.min.js" defer async></script>
<script type="text/javascript" src="//www.tribdss.com/meter/ctcngux.min.js" defer async></script> #}

{# For some of the JS I wrote, I need this. #}
<script type="text/javascript">
  window.ROOT_URL = "{{ ROOT_URL }}";
</script>

{% endblock %}