{% extends "_base.html" %}

{% macro aside(aside_type, add_class) %}
    <aside class='refer refer--{{ aside_type }} {% if add_class %} {{ add_class }} {% endif %}'>
        <h3 class='refer__headline'>{{ refers[aside_type + "_headline"]['text'] }}</h3>
        <p class='refer__blurb'>{{ refers[aside_type + "_text"]['text'] }}</p>
        {% if  refers[aside_type + "_url"] and refers[aside_type + "_button_text"] %}
            <a class='refer__button' href='{{ refers[aside_type + "_url"]['text'] }}' target="_blank">{{ refers[aside_type + "_button_text"]["text"] }}</a>
        {% endif %}
    </aside>
{% endmacro %}


{% macro add_photo(url, add_class, caption, alt) %}
  <figure class='image {{ add_class }}'>
    <img src='{{ url }}' alt='{{ alt }}'/>
    <figcaption> {{ caption }}</figcaption>
</figure>
{% endmacro %}

{% macro add_p2p_photo(slug, add_class, width) %}
  {% set photo = get_p2p_content_item(slug) %}
  {% if photo|check_if_is_okay_to_publish %}
      <figure class='image {{ add_class }}'>
        <img src='{{ photo.photo_services_url }}/{{ width }}' alt='{{ photo.title }} title='{{ photo.title }}'/>
        <figcaption> {{ photo.caption|striptags }}</figcaption>
      </figure>
    {% else %}
      <p style='padding:20px;background:red; color:yellow'>Photo (slug: {{ slug }}) is not set to "live"</p>  
    {% endif %}
{% endmacro %}

{% macro ad(type, alignment) %}
    {# returns an advert <div> with the proper alignment classes and data-* attributes to make it fit within this project. #}
    {% if alignment %}
        {% set class = "advert--" + alignment%}
    {% endif %}

    {% if type == "cube" %}
        <div class="advert {{ class }}" data-ad-type="shrinky-cube"></div>
    {% elif type == "leaderboard" %}
        <div class="advert" data-ad-type="leaderboard"></div>
    {% endif %}
{% endmacro %}

{% macro keep_scrolling_icon() %}
  <div class='story-header__scrolling-icon'>
    <span>{{ scrolling_icon_text }}</span>
    <i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
  </div>

{% endmacro %}

{% macro pullquote(quote_text, quote_attribution, quote_attribution_secondary) %}
    
  {% set page_url = "http://" + ROOT_URL + "/" + PATH %}
  {# {% set page_url = '#' %} #}
    <figure class="trib-pullquote">
        <ul class="social-menu">
            <li>
                <a target="_blank" href="https://twitter.com/share?url={{ page_url }}&text={{ quote_text|urlencode }}">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                    <span class="hidden">Twitter</span>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ page_url }}&t={{ quote_text|urlencode }}">
                    <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    <span class="hidden">Facebook</span>
                </a>
            </li>
        </ul>
        <blockquote>{{ quote_text|process_text() }}</blockquote>
        {% if quote_attribution %}
            <figcaption>
                {{ quote_attribution|process_text() }}
                {% if quote_attribution_secondary|process_text() %}<span>{{ quote_attribution_secondary|process_text() }}</span>{% endif %}
            </figcaption>
        {% endif %}
    </figure>
    
{% endmacro %}

{% macro add_chart(id, addon_class, url) %}
    {% if addon_class %}
        {% set class = addon_class %}
    {% else %}
        {% set class = "" %}
    {% endif %}
    <div class='chart chart--{{ id }} {{ class }}'>      
        <div id='{{ id }}' class='graphic-embed' data-iframe-url='{{ url }}'></div>
        {% include "_subtemplates/_loading-spinner.html" %}
    </div>
{% endmacro %}

{% macro add_video(id, link_base_url, addon_class="", header) %}

    {% if addon_class %}
        {% set class = addon_class %}
    {% else %}
        {% set class = "" %}
    {% endif %}
    {# Randomstring for an id. #}
    {% set id = id|generate_id %}
    {% set video_player_ref = link_base_url|get_video_ref %}

   <div class='video {{ class }}'>
        {% if header %}
       <h4 class='video__headline'>{{ header }}</h4>
       {% endif %}
       <div class='video__wrapper'>
        <object id='{{ id }}' class='BrightcoveExperience'>
          <param name='bgcolor' value='#FFFFFF' />
          <param name='wmode' value='transparent' />
          <param name='autoStart' value='false' />
          <param name='sectionName' value ='/news/watchdog' />
          <param name='contentItemType' value ='embed' />
          <param name='omnitureServer' value='' />
          <param name='omnitureAcct' value='' />
          {# <param name='width' value='500' /> #}
          {# <param name='height' value='300' /> #}
          <param name='playerID' value='3688749019001' />
          <param name='playerKey' value='AQ~~,AAADW0fLtgE~,MIfKkt0NgAvSglhcwVIGmENcE3304kfQ' />
          <param name='adServerURL' value='' />
          <param name='additionalAdTargetingParams' value='' />
          <param name='externalAds' value='true' />
          <param name='linkBaseURL' value='{{ link_base_url }}' />
          <param name='isVid' value='true' />
          <param name='isUI' value='true' />
          <param name='dynamicStreaming' value='true' />
          <param name='showNoContentMessage' value='true' />
          <param name='secureConnections' value='true' />
          <param name='secureHTMLConnections' value='true' />
          <param name='@videoPlayer' value='ref:{{ video_player_ref }}' />
        </object>
    </div>
    </div>
{% endmacro %}

{% macro add_author(name, email) %}
  <a itemprop="author" {% if email %}href="mailto:{{- email -}}?subject=Regarding: {{ overall_project_title }}"{% endif %}>{{- name -}}</a>
{% endmacro%}

{% block nav scoped %}
  {% set part = part %}
  {% include '_nav.html' %}
{% endblock nav %}

{% block opengraph scoped %}
  {% set part = part %}
  <meta property="og:url" content="http://{{ ROOT_URL }}/{{ PATH }}" />
  <meta property="og:image" content="{{ og_image }}" />
  {% block opengraph_story_specific scoped %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ og_description }}" />
    <meta name="keywords" content="{{ keywords }}">
  {% endblock opengraph_story_specific %}
{% endblock %}

{% block content %}
    {# 
    Remove ad per convo with Kaarin, JB and Kurt.
    {{ ad('leaderboard', false) }} 
    #}
    {% block story_header scoped %}
      {% set part = part %}
      {% include '_subtemplates/' + part + '/_header-supplement.html' ignore missing %}
      <section class='story-header story-header--{{ part }}'>
        {% block video_background %}
          <div style='background:url(img/posters/{{ self.video_poster() }}) center center no-repeat;background-size:cover;' class='story-header__display'>
            <div class='story-header__video'>
              <video id='background-video'  autoplay muted loop 
                poster='img/posters/{% block video_poster %}{% endblock video_poster %}'
                style='width:100%;'>
                {# There are several different sources. Each day should use the same filename #}
                <source src="http://{{ ROOT_URL }}/img/videos/{% block video_file_name %}{% endblock video_file_name %}.webm" type="video/webm">
                <source src="http://{{ ROOT_URL }}/img/videos/{{ self.video_file_name() }}.ogv" type="video/ogg">
                <source src="http://{{ ROOT_URL }}/img/videos/{{ self.video_file_name() }}.mp4" type="video/mp4">
              </video>
              <div class='story-header__video-controls video-controls'>
                <button id='pause' class='video-control video-control--pause video-control--visible'>
                  <i class="fa fa-pause-circle" aria-hidden="true"></i>
                  Pause
                </button>
                <button id='play' class='video-control video-control--play'>
                  <i class="fa fa-play-circle" aria-hidden="true"></i>
                  Resume
                </button>
              </div>
            </div>
            <div class='story-header__video-texture'></div>
            <p class='story-header__caption'>{% block mobile_image_alt_text %}{% endblock mobile_image_alt_text %} <br />({% block video_credit %}{% endblock video_credit %})</p>
            {# <i class="fa fa-arrow-circle-down fa-2x story-header__scrolling-icon" aria-hidden="true"></i> #}
          {% endblock video_background %}
          <h1 class='story-header__headline' itemprop="headline">
            {% block headline %}{% endblock headline %}
          </h1>
          <h2 class='story-header__subheadline'>
            {% block dek %}{% endblock dek %}
          </h2>
                    <div class='story-header__project-title'>
            <p>Tribune watchdog: <br />{{ title }}</p>
          </div>

     </div>
        <div class='container'>
          {# <div class='row'> #}
            {# <div class='col-xs-12'> #}
              <div class='river--narrow'>
                {% include '_subtemplates/_social-row.html' %}
                <div class='byline'>
                  <p class='byline-name'>By {% block byline %}{% endblock byline%}</p>
                  <time class='byline-publish-date' itemprop="datePublished">Published: {{ publish_date|xldate_to_datetime|format_date("%B %d, %Y") }}</time>
                </div>
              </div>
            {# </div> #}
          {# </div> #}
        </div>
      </section>
    {% endblock story_header %}
    
        <div class="container" itemprop="articleBody">
          {# <div class="row"> #}
            {# <div class="col-md-12"> #}
              <div class='river--narrow'>
              {% block story %}{% endblock story %}
              </div>
            {# </div> #}
          {# </div> #}
        </div>
    
    {% block credits scoped %}
      {% set part = part %}
      {% include '_subtemplates/_credits.html' %}      
    {% endblock credits %}
    {% include '_subtemplates/_solid-opinion-comments.html'%}
   {#  {% block methods scoped %}
      {% set part = part %}
      {% include '_subtemplates/_methodologies.html' %}      
    {% endblock methods %} #}
    <div data-trb-thirdpartynav></div>
{% endblock content %}


{% block comments %}
      
  {% endblock comments %}


{% block library_css %}
    <link rel="stylesheet" type="text/css" href="css/base.css" />
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/6745e48e70.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock %}

{% block meta %}
    {{ super() }}
{% endblock meta %}



{% block scripts %}
    <script src="http://{{ ROOT_URL }}/js/app.min.js"></script>
    <script>brightcove.createExperiences();</script>
{% endblock scripts %}

{% block chartbeat %}
    {% include '_subtemplates/_chartbeat.html' %}
{% endblock %}

{% block omniture_scripts %}
    {{ super() }}
    {# <script src="http://www.chicagotribune.com/thirdpartyservice?disablenav=true" async></script> #}
{% endblock omniture_scripts %}


{% block omniture %}
{% endblock omniture %}

{% block library_scripts %}
  {% include '_subtemplates/_omniture_header_scripts.html' %}
  {# <script src="//media.apps.chicagotribune.com/bootstrap/v3.1.1/js/bootstrap.min.js"></script> #}
  {# <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script> #}
  {# <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script> #}

{# For the bootstrap. Can this be removed? #}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{# For the adverts #}
<script src="//media.apps.chicagotribune.com/ads/v2.1.4/ads.min.js" defer async></script>

{# For videos #}
<script language='JavaScript' type='text/javascript' src='https://sadmin.brightcove.com/js/BrightcoveExperiences.js' defer async></script>

{# For comments #}
{# Removed on recommendation from Andrew Baltazar. #}
{# <script type="text/javascript" src="//ssor.tribdss.com/reg/tribune/chinews-static.min.js" defer async></script>
<script type="text/javascript" src="//www.tribdss.com/meter/ctcngux.min.js" defer async></script> #}

{# For some of the JS I wrote, I need this. #}
<script type="text/javascript">
  window.ROOT_URL = "{{ ROOT_URL }}";
</script>

{% endblock %}


