{% extends "_tax-base.html" %}

{# THIS MATTERS MOST. IT CHANGES WHICH STUFF GETS PULLED IN #}
{% set part = 'appeals' %}

{# VIDEO BLOCKS #}
{% block video_poster %}{{part}}{% endblock video_poster %}
{% block video_file_name %}{{part}}{% endblock video_file_name %}
{% block mobile_image_alt_text %}{{ appeals_video_header_caption }}{% endblock mobile_image_alt_text %}
{% block video_credit %}{{ appeals_video_header_credit }}{% endblock video_credit %}

{# TEXT BLOCKS  #}

{% block headline %}{{ appeals_headline|dumb_to_smart_quotes|process_text() }}{% endblock headline %}
{% block dek %}{{ appeals_dek|dumb_to_smart_quotes|process_text() }}{% endblock dek %}


{% block opengraph_story_specific scoped %}
    <meta property="og:title" content="{{ title }} | {{ appeals_headline }}" />
    <meta property="og:description" content="{{ appeals_og_description }}" />
    <meta property="og:image" content="{{ appeals_thumb }}" />
    <meta name="og:image:alt" content="{{ appeals_thumb_alt_text }}" />
    <meta name="description" content="{{ appeals_seo_description }}" />

    <meta name="twitter:title" content="{{ title }} | {{ appeals_headline }}" />
    <meta name="twitter:description" content="{{ appeals_og_description }}" />
    <meta name="twitter:image" content="{{ appeals_thumb }}" />
    <meta name="twitter:image:alt" content="{{ appeals_thumb_alt_text }}" />
    
{% endblock opengraph_story_specific %}

{# SOCIAL MEDIA BUTTONS #}
{% block tweet %}{{ appeals_twitter|urlencode }}{% endblock tweet %}
{% block facebook %}{{ appeals_og_description|urlencode }}{% endblock facebook %}


{% block byline %}
    {{ add_author("Jason Grotto", "jgrotto@chicagotribune.com") }}
{% endblock byline%}


{# THE STORY #}
{% block story %}
    {%- for story in stories[part] %}
        {% set s = story %}
        {% include '_subtemplates/_story-loop.html' %}
    {% endfor -%}           
{% endblock %}
