{% extends "_tax-base.html" %}

{% set part = 'appeals_methods' %}

{# Clear out the video backgorund block #}
{% block video_background %}{% endblock video_background %}

{%- block headline %}{% endblock headline -%}
{% block dek %}{{- appeals_methods_headline|process_text() -}}{% endblock dek %}

{% block byline %}
    {{ add_author("Jason Grotto", "jgrotto@chicagotribune.com") }}
{% endblock byline%}

{% block story %}
    {% for story in stories[part] %}
        {% set s = story %}
        {% include '_subtemplates/_story-loop.html' %}
    {% endfor %}
{% endblock %}

{# No comments #}
{% block solid_opinion_comments %}{% endblock solid_opinion_comments %}