{% extends "_tax-base.html" %}

{% block css %}
	{{ super() }}
	<style type="text/css">
		.byline-name{
			display:none;
		}
		.byline-publish-date{
			text-align: center;
		}
		.social-menu {
			-webkit-justify-content: center;
			justify-content: center;
		}
	</style>
{% endblock css %}

{# No comments #}
{% block solid_opinion_comments %}{% endblock solid_opinion_comments %}

{% set part = 'assessor_response' %}

{# Clear out the video backgorund block #}
{% block video_background %}{% endblock video_background %}

{% block headline %}{{ assessor_response_headline|process_text() }}{% endblock headline %}
{% block dek %}{% endblock dek %}

{% block byline %}{% endblock byline %}

{% block story %}
    {% for story in stories[part] %}
        {% set s = story %}
        {% include '_subtemplates/_story-loop.html' %}
    {% endfor %}
{% endblock %}

{# {% block solid_opinion_comments %}{% endblock solid_opinion_comments %} #}