{% extends "_base.html" %}

{% block nav %}{% include '_nav.html' %}{% endblock nav %}

{% block content %}
{# <div class="advert col-xs-12 col-sm-4" data-ad-type="shrinky-cube"></div>
<div class="advert top-ad" data-ad-type="leaderboard"></div> #}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            {% include "_social_row.html" %}
            <h1 itemprop="headline">Welcome to Tarbell!</h1>
            <p>Brought to you by <span itemprop="author">the Chicago Tribune News Apps team</span></p>
            <p>Updated last <span itemprop="datePublished">July 15, 2014</span></p>
        </div>
    </div>
    <div class="row">
        <div itemprop="articleBody">
            {{ lorem|markdown }}
            {{ lorem|markdown }}
            {{ lorem|markdown }}
            {{ lorem|markdown }}
        </div>
    </div>
</div>
{% endblock content %}

{% block library_css %}
    {{ super() }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="css/styles.css">
{% endblock %}

{% block meta %}
    {{ super() }}
{% endblock meta %}

{% block paywall %}
    {# Empty this block out, possibly to be replaced with meter stuff #}
{% endblock%}

{% block scripts %}
    <script src="js/app.min.js"></script>
{% endblock scripts %}

  {% block library_scripts %}
  <script src="js/vendor.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  {# <script src="//media.apps.chicagotribune.com/bootstrap/v3.1.1/js/bootstrap.min.js"></script> #}
  <script src="//media.apps.chicagotribune.com/ads/v2.1.4/ads.min.js"></script>
  {# <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script> #}
  {# <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script> #}
  {% endblock %}