{% extends "_tax-base.html" %}


{# THIS MATTERS MOST. IT CHANGES WHICH STUFF GETS PULLED IN #}
{% set part = 'assessments' %}

{# VIDEO BLOCKS #}
{% block video_poster %}part1.jpg{% endblock video_poster %}
{% block video_file_name %}part1{% endblock video_file_name %}
{% block mobile_image_alt_text %}{{ part1_video_header_caption }}{% endblock mobile_image_alt_text %}
{% block video_credit %}{{ part1_video_header_credit }}{% endblock video_credit %}

{# TEXT BLOCKS  #}
{% block headline %}{{ part1_headline|process_text() }}{% endblock headline %}
{% block dek %}{{ part1_dek|process_text() }}{% endblock dek %}

{% block byline %}
    {{ add_author("Jason Grotto", "jgrotto@chicagotribune.com") }}
{% endblock byline%}




{# {% block bodyattrs %}
    {{ super() }}
    This data attribute on the body tag will toggle the fixed state of the map and day1 story header 
    data-fixed-header=true
{% endblock bodyattrs %}
 #}
{#  #}
{% block story %}
    {% for story in stories[part] %}
        {% set s = story %}
        {% include '_subtemplates/_story-loop.html' %}
    {% endfor %}
{% endblock %}

{% block library_scripts %}
    {{ super() }}
    <script src="js/vendor.min.js"></script>
{% endblock library_scripts %}

{# {% block scripts %}
    {{ super() }}
    <script src="http://{{ ROOT_URL }}/js/day1header.min.js"></script>
{% endblock %} #}