{% extends "_tax-base.html" %}

{% set part = 'part1' %}

{% block headline %}{{ part1_headline|process_text() }}{% endblock headline %}
{% block dek %}{{ part1_dek|process_text() }}{% endblock dek %}

{% block byline %}
    {{ add_author("Jason Grotto", "jgrotto@chicagotribune.com") }}, {{ add_author("David Kidwell") }}, {{ add_author("John Chase", "jchase@chicagotribune.com") }}
{% endblock byline%}




{% block bodyattrs %}
    {{ super() }}
    {# This data attribute on the body tag will toggle the fixed state of the map and day1 story header  #}
    data-fixed-header=true
{% endblock bodyattrs %}


{% block story %}

{# <div class="advert col-xs-12 col-sm-4" data-ad-type="shrinky-cube"></div>
        <div class="advert top-ad" data-ad-type="leaderboard"></div> #}

        {# <div class="advert top-ad" data-ad-type="leaderboard"></div> #}
        {% include '_subtemplates/part1/_header-part1.html' %}
        <div class="container" itemprop="articleBody">

        <div id="modal" class="modal hide-this"><span id="exit-button">X</span><p id="append-here"></p></div>

        <div class="row">
                <div class="col-md-12">
                    <div class='river--narrow'>
                        <p>
                            <span class='text--exploded'><span class="target-term" data-term='1'> coefficient of dispersion (COD)</span> ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <span class="target-term" data-term='0'> sales ratio study</span> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span class="target-term" data-term='2'> regressivity</span></span>
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sapiente nulla molestias tempora dolores ipsam, facere adipisci doloribus architecto similique numquam voluptate, veniam quia? Animi voluptate aspernatur ipsam ullam, id.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sapiente nulla molestias tempora dolores ipsam, facere adipisci doloribus architecto similique numquam voluptate, veniam quia? Animi voluptate aspernatur ipsam ullam, id.</p>
                        </div>
                        {{ add_chart('lookup', false, 'http://apps.beta.tribapps.com/property-tax-assessments-map/lookup.html') }}

                    <div class='river--narrow'>
                        {# <div class="advert col-xs-12 col-sm-4" data-ad-type="shrinky-cube"></div> #}
                        {{ lorem|markdown }}
                        {% set quote = "\"Outside of a dog, a book is man's best friend. Inside of a dog it's too dark to read.\"" %}
                        {{ pullquote(quote, "Groucho Marx", "A very funny chap") }}
                        {{ ad("cube", 'right') }}
                        {{ lorem|markdown }}
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="container">
                <figure class='image'>
                    <img src='http://www.trbimg.com/img-56042848/turbine/ct-chicago-tribune-sues-rahm-emanuel-met-20150924' alt='dd'/>
                    <figcaption>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio delectus sunt sapiente, odit aliquam error ipsum accusantium minima facere velit laborum, perferendis esse impedit nam ab. Id assumenda, est in! (Photographer here)
                    </figcaption>
                </figure>
            <div class="row">
                <div class="col-md-12">
                    <div class='river--narrow'>
                        {{ lorem|markdown }}
                        <figure class='image'>
                            <img src='http://www.trbimg.com/img-585dab02/turbine/ct-rahm-emanuel-emails-tribune-dold-met-20161223' alt='dd'/>
                            <figcaption>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio delectus sunt sapiente, odit aliquam error ipsum accusantium minima facere velit laborum, perferendis esse impedit nam ab. Id assumenda, est in! (Photographer here)
                            </figcaption>
                        </figure>
                        {{ lorem|markdown }}
                        {{ add_chart('regressivity-by-year', false, 'http://apps.beta.tribapps.com/property_tax_assessments_cook_county/regressivity-by-year.html') }}
                        {{ lorem|markdown }}
                        {{ ad("cube", 'right') }}
                        {{ lorem|markdown }}
                        {{ add_chart('broken-model', false, 'http://apps.beta.tribapps.com/property_tax_assessments_cook_county/brokenmodel.html') }}
                        {{ lorem|markdown }}
                            <figure class='image image--right'>
                            <img src='http://www.trbimg.com/img-553fa242/turbine/chi-110517-mayor-rahm-emanuel-pictures/650/650x366' alt='dd'/>
                            <figcaption>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio delectus sunt sapiente, odit aliquam error ipsum accusantium minima facere velit laborum, perferendis esse impedit nam ab. Id assumenda, est in! (Photographer here)
                            </figcaption>
                        </figure>
                        {{ ad("cube", 'right') }}
                        {{ lorem|markdown }}
                        </div>
                    </div>

    {# {% include '_subtemplates/part1/_header-part1.html' %} #}
    <div class="container" itemprop="articleBody">
    <div class="row">
            <div class="col-md-12">
                <div class='river--narrow'>
                {% for story in stories[part] %}
                    {% set s = story %}
                    {% include '_subtemplates/_story-loop.html' %}
                {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block library_scripts %}
    {{ super() }}
    <script src="js/vendor.min.js"></script>
{% endblock library_scripts %}

{% block scripts %}
    {{ super() }}
    <script src="http://{{ ROOT_URL }}/js/day1header.min.js"></script>

    <!-- puts glossary spreadsheet data into a json called termsJson -->
    <script>
        (function(document, window) {
            var termsJson = {{ glossary|tojson|safe }};
            $(function(){
                window.org.init(termsJson,"//{{ ROOT_URL }}/");
            });
        })(document, window);
    </script>
{% endblock %}