{% extends "_tax-base.html" %}

{% set part = 'part2' %}

{% block story %}
{# <div class="advert col-xs-12 col-sm-4" data-ad-type="shrinky-cube"></div>
         #}
{% include '_subtemplates/part2/_header-part2.html' %}
{# <div class="advert top-ad" data-ad-type="leaderboard"></div> #}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class='river--narrow' itemprop="articleBody">
                {% for s in stories[part] %}
                    {% set type = s.type %}
                    {% if type == "text" %}
                        {{ s.content|markdown }}
                    {% elif type == "graphic" and s.graphic_id and s.url %}
                        {% if s.add_class %}
                            {% set add_class = s.add_class %}
                        {% else %}
                            {% set add_class = "" %}
                        {% endif %}
                        {{ add_chart(s.url, s.add_class, s.url) }}
                    {% elif type == "photo" and s.url and s.caption and s.alt %}
                        {% if s.add_class %}
                            {% set add_class = s.add_class %}
                        {% else %}
                            {% set add_class = "" %}
                        {% endif %}
                        {{ add_photo(s.url, s.add_class, s.caption, s.alt)}}
                    {% elif type == "advert" and s.ad_type and s.ad_alignment %}
                        {{ ad(s.ad_type, s.ad_alignment) }}
                    {% elif type == "video" and s.id and s.link_base_url %}
                        {% if s.add_class %}
                            {% set add_class = s.add_class %}
                        {% else %}
                            {% set add_class = "" %}
                        {% endif %}
                        {{ add_video(s.id, s.link_base_url, add_class) }}
                    {% elif type == "pullquote" and s.quote_text and s.quote_attribution %}
                        {% if s.quote_attribution_secondary %}
                            {% set quote_attribution_secondary = s.quote_attribution_secondary %}
                        {% else %}
                            {% set quote_attribution_secondary = "" %}
                        {% endif %}
                        {{ pullquote(s.quote_text, s.quote_attribution, quote_attribution_secondary) }}
                    {% endif %}
                {% endfor %}
                <hr>
                {{ stories[part]|tojson }}
           </div>
       </div>
    </div>
</div>
{% endblock %}
