{% extends "_tax-base.html" %}

{% set part = 'response' %}

{# Clear out the video backgorund block #}
{% block video_background %}{% endblock video_background %}

{% block headline %}{{ methods_headline|process_text() }}{% endblock headline %}
{% block dek %}{{ methods_dek|process_text() }}{% endblock dek %}

{% block byline %}
    {{ add_author("Jason Grotto", "jgrotto@chicagotribune.com") }}
{% endblock byline%}

{% block story %}
    {% for story in stories[part] %}
        {% set s = story %}
        {% include '_subtemplates/_story-loop.html' %}
    {% endfor %}
{% endblock %}