{% extends "_tax-base.html" %}

{% set part = 'steps' %}

{# Clear out the video backgorund block #}
{% block video_background %}{% endblock video_background %}

{% block headline %}{% endblock headline %}
{% block dek %}{{ steps_headline|dumb_to_smart_quotes|process_text() }}{% endblock dek %}

{% block byline %}
    <div class='author'>
        <p class='author__name'>By <a href="mailto:sandhya@propublica.org?subject='The Tax Divide'">Sandhya Kambhampati</a></p>
        <p class='author__tag'>ProPublica Illinois</p>
        <p class='author__name'>and <a href="mailto:jbrinson@chicagotribune.com?subject='The Tax Divide'">Jemal R. Brinson</a></p>
        <p class='author__tag'>Chicago Tribune</p>
    </div>
{% endblock byline%}

{% block opengraph_story_specific scoped %}
    <meta property="og:title" content="{{ title }} | {{ steps_headline }}" />
    <meta property="og:description" content="{{ steps_og_description }}" />
    <meta property="og:image" content="{{ steps_thumb }}" />
    <meta name="description" content="{{ steps_seo_description }}" />
    <meta name="og:image:alt" content="{{ steps_thumb_alt_text }}" />


    <meta name="twitter:title" content="{{ title }} | {{ steps_headline }}" />
    <meta name="twitter:description" content="{{ steps_og_description }}" />
    <meta name="twitter:image" content="{{ steps_thumb }}" />
    <meta name="twitter:image:alt" content="{{ steps_thumb_alt_text }}" />
    <meta name="twitter:creator" content="@propublicail" />
    <meta name="twitter:creator" content="@jemalbrins" />
    <meta name="twitter:creator" content="@sandhya__k" />

{% endblock opengraph_story_specific %}

{% block story %}
    {%- for story in stories[part] %}
        {% set s = story %}
        {% include '_subtemplates/_story-loop.html' %}
    {% endfor -%}

{% endblock %}

{# No comments #}
{% block solid_opinion_comments %}{% endblock solid_opinion_comments %}