{% extends "_tax-base.html" %}

{% set part = 'steps' %}

{# Clear out the video backgorund block #}
{% block video_background %}{% endblock video_background %}

{% block headline %}{% endblock headline %}
{% block dek %}{{ steps_headline|dumb_to_smart_quotes|process_text() }}{% endblock dek %}

{% block byline %}
    <div class='author'>
        <p class='author__name'>By <a href="mailto:sandhya@propublica.org?subject='The Tax Divide'">Sandhya Kambhampati</a></p>
        <p class='author__tag'>ProPublica Illinois</p>
        <p class='author__name'>and <a href="mailto:jbrinson@chicagotribune.com?subject='The Tax Divide'">Jemal R. Brinson</a></p>
        <p class='author__tag'>Chicago Tribune</p>
    </div>
{% endblock byline%}

{% block story %}
    {%- for story in stories[part] %}
        {% set s = story %}
        {% include '_subtemplates/_story-loop.html' %}
    {% endfor -%}

{% endblock %}

{# No comments #}
{% block solid_opinion_comments %}{% endblock solid_opinion_comments %}