<section class='story-header story-header--day2'>
	<div class='story-header__display'>
		<h1 class='story-header__headline' itemprop="headline">
			{% block headline %}dhfgkljdfhgkjfsdhgljfshdlg{% endblock headline %}
		</h1>
		<h2 class='story-header__subheadline'>
			{% block dek %}dfdfd{% endblock dek %}
		</h2>
		<i class="fa fa-arrow-circle-down fa-2x story-header__scrolling-icon" aria-hidden="true"></i>
	</div>
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12'>
				<div class='river--narrow'>
					{% include '_subtemplates/_social-row.html' %}
					<div class='byline'>
						<p class='byline-name'><a itemprop="author" href="mailto:jgrotto@chicagotribune.com?subject=Regarding: {{ overall_project_title }}">Jason Grotto</a></p>
						<p class='byline-publisher'  itemprop='publisher'>Chicago Tribune</p>
						<time class='byline-publish-date' itemprop="datePublished">Published: {{ publish_date|xldate_to_datetime }}</time>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
